*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.idea
.vscode/*
/target
dist
dist-ssr
lerna-debug.log*
logs
node_modules
notes
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
